
#stacks_in_232_page7 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_232_page7 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_232_page7 {
	border: solid #DBDBDB;
	border-width: 1px 0px 0px 0px;
	padding: 25px 0px 0px 0px;
}

#stacks_in_239_page7 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_239_page7 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_241_page7 {
	background-color: #FFFFFF;
	border: solid #22B2FF;
	border-width: 6px 6px 6px 6px;
}

#stacks_in_244_page7 {
	background-color: #FFFFFF;
	border: solid #8FFF9B;
	border-width: 6px 6px 6px 6px;
}

#stacks_in_246_page7 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_246_page7 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_246_page7 {
	margin: 0px 0px 30px 0px;
}

#stacks_in_253_page7 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_253_page7 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_260_page7 .stacks_left {
	float:left;
	width:49%;
}

#stacks_in_260_page7 .stacks_right {
	float:right;
	width:49%;
}
#stacks_in_262_page7 {
	background-color: #FFFFFF;
	border: solid #FFFB5C;
	border-width: 4px 4px 4px 4px;
}

#stacks_in_265_page7 {
	background-color: #FFFFFF;
	border: solid #FFFB5C;
	border-width: 4px 4px 4px 4px;
}

#stacks_in_268_page7 {
	background-color: #FFFFFF;
	border: solid #FFFB5C;
	border-width: 4px 4px 4px 4px;
}

#stacks_in_271_page7 {
	background-color: #FFFFFF;
	border: solid #FFFB5C;
	border-width: 4px 4px 4px 4px;
}

#stacks_in_275_page7 {
	background-color: #FFFFFF;
	border: solid #FF0018;
	border-width: 4px 4px 4px 4px;
}

#stacks_in_278_page7 {
	background-color: #FFFFFF;
	border: solid #FF0018;
	border-width: 4px 4px 4px 4px;
}

#stacks_in_281_page7 {
	background-color: #FFFFFF;
	border: solid #FF0018;
	border-width: 4px 4px 4px 4px;
}

#stacks_in_284_page7 .stacks_left {
	float:left;
	width:24%;
}

#stacks_in_284_page7 .stacks_right {
	float:right;
	width:74%;
}
#stacks_out_286_page7 {
	margin-left:0;
}

#stacks_out_284_page7 {
	margin-left:0;
}

#stacks_in_284_page7 {
	border: solid #FF0018;
	border-width: 4px 4px 4px 4px;
}
