
#stacks_in_211_page26 .teleportMe {
}



#stacks_in_215_page26 {
	margin: 0px 10px 0px 10px;
}

#stacks_out_213_page26 {
	margin-left:0;
}

#stacks_in_219_page26 {
	margin: 0px 10px 0px 20px;
}

#stacks_out_221_page26 {
	margin-right:0;
}
